<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% extends "home.html" %}
    <title>{% block title %}Movie{% endblock %}</title>
</head>

<body>

    {% block content %}
    <h1>Movie</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, similique illo explicabo, esse, totam tenetur veritatis exercitationem et eaque ad blanditiis beatae quae voluptate architecto. Officia maiores perspiciatis repellat quod!</p>
    {% endblock %}
</body>

</html>