{% load i18n %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Check Your Email</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'userscss/login.css' %}">
    <style>
        .message-box {
            font-size: 15px;
            color: #444;
            margin-top: 10px;
            line-height: 1.6;
        }
    </style>
</head>

<body>
    <div class="login-container">
        <div class="logo">
            <span>book<span style="color:#1E1E1E;">my</span>show</span>
        </div>

        <h2 style="color:#e50914;">Check your email</h2>
        <p class="message-box">
            If an account with the provided email exists, you’ll receive a link to reset your password.
            Please check your inbox and follow the instructions.
        </p>

        <a href="{% url 'account_login' %}" class="back-login">← Back to Login</a>
    </div>
</body>
</html>
