<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'adminpanel/moviedetail.css' %}">
</head>

<body>
    <div class="container">
        {% if movie.main_image %}
        <img src="{{ movie.main_image.url }}" alt="{{ movie.title }}" class="movie-poster">
        {% endif %}

        <h1 class="title">{{ movie.title }}</h1>
        <div class="detail"><strong>Genre:</strong> {{ movie.genre }}</div>
        <div class="detail"><strong>Language:</strong> {{ movie.language }}</div>
        <div class="detail"><strong>Duration:</strong> {{ movie.duration }}</div>
        <div class="detail"><strong>Description:</strong> {{ movie.description }}</div>

        <div class="buttons">
            <a href="{% url 'edit_movie' movie.id %}" class="btn btn-edit">Edit</a>
            <a href="{% url 'delete_movie' movie.id %}" class="btn btn-delete"
                onclick="return confirm('Are you sure you want to delete this movie?');">Delete</a>
        </div>
    </div>
</body>

</html>